:root {
  --primary: #fa0041;
  --secondary: #ffe000;
  --background: #23cfa7;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --font-family: "Tauri", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
}
